@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Patrick+Hand&display=swap');

$logo-font: "Patrick hand" , curseive;
$main-font: "Akshar", sans-sesrif;

$primary-font-color: rgb(33, 33, 131);
$secondary-font-color: rgb(0, 204, 255);
$color-black: #333333;
$color-white: #fafafafa;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link,
a:visited {
    text-decoration: none;
}