@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Fredoka+One&family=Patrick+Hand&display=swap');

$font-logo: "Patrick hand" , curseive;
$font-primary: "Akshar", sans-sesrif;
$font-slogan: "Fredoka One", curseive; 

$color-font-primary: rgb(59, 59, 122);
$color-font-secondary: rgb(0, 204, 255);
$color-black: #333333;
$color-white: #fafafafa;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}