@import "./_base.scss";

.logo {
    display: flex;
    align-items: center;

    img {
        width: 90px;
        height: 90px;
        border-radius: 50px;
    }

    a {
        color: $primary-font-color;
        font-family: $logo-font;
        font-size: 60px;
    }

}

.Login-button {
    color: $primary-font-color;
    border: solid $primary-font-color 2px;
    border-radius: 7px;
    padding: 10px 20px 10px 20px;
    margin-right: 40px;
}