@import "./_base.scss";

.logo {
    display: flex;
    align-items: center;

    img {
        width: 90px;
        height: 90px;
        border-radius: 50px;
    }

    a {
        color: $color-font-primary;
        font-family: $font-logo;
        font-size: 60px;
    }

}

.button-login {
    font-family: $font-primary;
    font-weight: 1000;
    color: $color-font-primary;
    border: solid $color-font-primary 2px;
    border-radius: 7px;
    padding: 12px 30px 12px 30px;
    margin-right: 20px;
}

.button-primary-color{
    width: 175px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: $color-font-primary;
    color: $color-white;
    font-size: 1.2rem;
    margin-top: 20px;
}