@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Fredoka+One&family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Fredoka+One&family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Fredoka+One&family=Patrick+Hand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 90px;
  height: 90px;
  border-radius: 50px;
}
.logo a {
  color: #3b3b7a;
  font-family: "Patrick hand", curseive;
  font-size: 60px;
}

.button-login {
  font-family: "Akshar", sans-sesrif;
  font-weight: 1000;
  color: #3b3b7a;
  border: solid #3b3b7a 2px;
  border-radius: 7px;
  padding: 12px 30px 12px 30px;
  margin-right: 20px;
}

.button-primary-color {
  width: 175px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-family: "Akshar", sans-sesrif;
  background-color: #3b3b7a;
  color: #fafafafa;
  font-size: 1.2rem;
  margin-top: 20px;
}

.infoAndImage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.infoAndImage img {
  width: 150px;
  height: 150px;
}
.infoAndImage p {
  margin: 7vw 0 7vw 0;
  color: #3b3b7a;
  font-family: "Akshar", sans-sesrif;
}
.infoAndImage p::first-line {
  font-weight: bold;
}

footer {
  background-color: #e4e4b0;
  margin-top: 15vw;
  text-align: center;
}
footer h4 {
  padding: 3vw;
  font-family: "Akshar", sans-sesrif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link,
a:visited {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

.titleAndImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.titleAndImage h1 {
  color: #00ccff;
  font-family: "Fredoka One", curseive;
  font-weight: 100;
  margin-bottom: 30px;
  text-indent: -20px;
}

.dadvice {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Akshar", sans-sesrif;
}
.dadvice h2 {
  color: #3b3b7a;
  font-size: 1.5rem;
  margin-top: 30px;
  text-indent: -20px;
}
.dadvice h3 {
  color: #00ccff;
  font-size: 1.3rem;
  margin-top: 20px;
}
.dadvice p {
  color: #3b3b7a;
  font-size: 1.1rem;
  margin-top: 20px;
  text-indent: 3px;
  text-align: center;
}

.appInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}
.appInfo h4 {
  color: #3b3b7a;
  font-family: "Akshar", sans-sesrif;
  font-size: 1.2rem;
  margin-top: 3vh;
}